html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Yusei Magic', sans-serif;
  background-color: #12101c;
  overflow: hidden;
  letter-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
