.container {
  --realHeight: 1vh;
  height: calc(var(--realHeight) * 100);
  padding: 0 0.5rem;
  --easing: cubic-bezier(.87,-.41,.19,1.44);
  --enterTime: 1s;
  display: flex;
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

.message {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  animation: enter var(--enterTime) var(--easing);
}

.message p:nth-child(2) {
  margin: 0;
  font-size: 3rem;
  text-shadow:0 .3rem 0 #0003, 0 .5rem 0 #0001;
}

.message p:nth-child(1) {
  font-size: 1.5rem;
  text-shadow:0 .2rem 0 #0003, 0 .3rem 0 #0001;
  margin-bottom: -1rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.footer p {
  color: white;
  font-size: 1.25rem;
  text-shadow:0 1px 0 #0005, 0 2px 0 #0002;
}

.socialBox {
  width: 100%;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.social {
  --innerShadowColor: #fff4;
  --innerShadowBlur: 30px;
  --shadow: inset 2px 10px var(--innerShadowBlur) 1px var(--innerShadowColor), 2px 2px 0 1px;
  width: 100%;
  max-width: 600px;
  background-color: #000B;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2d7c13;
  --stripeSize: 35px;
  border: 2px solid #6ec451;
  border-radius: 20px;
  box-shadow: var(--shadow) #6ec451;
  padding: 10px 16px;
  background-color: #a9e694;
  filter: drop-shadow(0 0 3px #0004);
}

.twitch {
  color: #601DC4;
  border-color: #9146FF;
  box-shadow: var(--shadow) #9146FF;
  background-color: #a970ff;
}

.discord {
  color: #3951A5;
  border-color: #7289da;
  box-shadow: var(--shadow) #7289da;
  background-color: #87A1FF;
}

.tiktok {
  color: #000b;
  border-color: #444;
  box-shadow: var(--shadow) #444;
  background-image: linear-gradient(
    120deg,
    #69C9D0,
    #69C9D0 30%,
    #dadada 50%,
    #FF3E6E 70%,
    #FF3E6E 100%
  );
}

.tiktok .icon {
  color: #870036;
}

.tiktok .icon:nth-child(1) {
  color: #026A71;
}

.youtube {
  color: #A80303;
  border-color: #db2c2c;
  box-shadow: var(--shadow) #db2c2c;
  background-color: #ff6b66;
}

.twitter {
  color: #046fb2;
  border-color: #1DA1F2;
  box-shadow: var(--shadow) #1DA1F2;
  background-color: #5dbffb;
}

.instagram {
  color: #a31444;
  border-color: #cf3551;
  box-shadow: var(--shadow) #cf3551;
  background-color: #F86E87;
}

.github {
  color: #333;
  border-color: #444;
  box-shadow: var(--shadow) #444;
  background-color: #888;
}

.social:hover {
  --innerShadowColor: #fffb;
  --innerShadowBlur: 50px;
}

.social:hover .icon {
  width: 2rem;
  height: 2rem;
}

.icon {
  transition: all .25s var(--easing);
}

.social p {
  font-size: 1.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: currentColor;
}

.instagram .icon {
  mask-image: url('https://simpleicons.org/icons/instagram.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/instagram.svg');
}

.youtube .icon {
  mask-image: url('https://simpleicons.org/icons/youtube.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/youtube.svg');
}

.discord .icon {
  mask-image: url('https://simpleicons.org/icons/discord.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/discord.svg');
}

.tiktok .icon {
  mask-image: url('https://simpleicons.org/icons/tiktok.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/tiktok.svg');
}

.twitter .icon {
  mask-image: url('https://simpleicons.org/icons/twitter.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/twitter.svg');
}

.twitch .icon {
  mask-image: url('https://simpleicons.org/icons/twitch.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/twitch.svg');
}

.github .icon {
  mask-image: url('https://simpleicons.org/icons/github.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/github.svg');
}

.widget .icon {
  mask-image: url('https://simpleicons.org/icons/undertale.svg');
  -webkit-mask-image: url('https://simpleicons.org/icons/undertale.svg')
}

.spotlight {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: -10rem;
}

.spotlight div {
  position: absolute;
  height: calc(var(--realHeight) * 120);
  bottom: 0;
  left: 50vw;
  width: calc(var(--realHeight) * 20);
  margin-left: calc(var(--realHeight) * -10);
  margin-bottom: calc(var(--realHeight) * -3.5);
  opacity: 50%;
  transform-origin: bottom;
  animation: scatter var( --enterTime) var(--easing);
}

.spotlight div:nth-child(1) {
  background-color: #9b5de5;
  transform: rotate(-30deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(4) {
  background-color: #f15bb5;
  transform: rotate(-15deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(5) {
  background-color: #fee440;
  transform: perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(3) {
  background-color: #00bbf9;
  transform: rotate(15deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(2) {
  background-color: #00f5d4;
  transform: rotate(30deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(6) {
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: transparent;
}

@keyframes scatter {
  from {
    transform: rotate(0);
    height: 0;
  }
}

@keyframes enter {
  from {
    transform: scale(.1);
    opacity: 0;
  }
}