.container {
  --realHeight: 1vh;
  height: calc(var(--realHeight) * 100);
  padding: 0 0.5rem;
  --easing: cubic-bezier(.87,-.41,.19,1.44);
  --enterTime: 1s;
  display: flex;
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.message {
  text-align: center;
  position: absolute;
  bottom: calc(var(--realHeight) * 52 + 30vmin);
  color: white;
  font-weight: bold;
}

.message p:nth-child(2) {
  margin: 0;
  font-size: calc(var(--realHeight) * 6.5);
  text-shadow:0 calc(var(--realHeight) * .6) 0 #0003, 0 var(--realHeight) 0 #0001;
  transform: scale(1);
  animation: enter var( --enterTime) var(--easing);
}

.message p:nth-child(1) {
  font-size: calc(var(--realHeight) * 3.5);
  text-shadow:0 calc(var(--realHeight) * .3) 0 #0003, 0 calc(var(--realHeight) * .5) 0 #0001;
  margin-bottom: calc(var(--realHeight) * -2);
}

.footer {
  width: 100%;
  height: calc(var(--realHeight) * 30);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
}

.social img {
  height: 100%;
  width: 100%;
}

.social a {
  position: absolute;
  transform: scale(1);
  animation: throw var( --enterTime) var(--easing);
  width: calc(10vmin + 4vmax);
  height: calc(10vmin + 4vmax);
  margin-left: calc(-5vmin - 2vmax);
  margin-bottom: calc(-5vmin - 2vmax);
  --minBottom: calc(var(--realHeight) * 40);
  --radius: 30vmin;
  transition: transform .25s var(--easing);
  background-color: #FFF8;
  padding: 1.5vmin;
  border-radius: calc(10vmin + 4vmax);
}

.social a:hover {
  transform: scale(1.2, 1.2);
}

.social a:nth-child(1) {
  bottom: var(--minBottom);
  left: calc(50vw - var(--radius));
}

.social a:nth-child(2) {
  bottom: calc(var(--minBottom) + var(--radius) * .71);
  left: calc(50vw - var(--radius) * .71);
}

.social a:nth-child(3) {
  bottom: calc(var(--minBottom) + var(--radius));
  left: 50vw;
}

.social a:nth-child(4) {
  bottom: calc(var(--minBottom) + var(--radius) * .71);
  left: calc(50vw + var(--radius) * .71);
}

.social a:nth-child(5) {
  bottom: var(--minBottom);
  left: calc(50vw + var(--radius));
}

.toad {
  transform-origin: bottom;
  max-height: 100%;
  max-width: 100%;
  transform: scaleY(1);
  animation: squish var( --enterTime) var(--easing);
}

.spotlight {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.spotlight div {
  position: absolute;
  height: calc(var(--realHeight) * 120);
  bottom: 0;
  left: 50vw;
  width: calc(var(--realHeight) * 20);
  margin-left: calc(var(--realHeight) * -10);
  margin-bottom: calc(var(--realHeight) * -3.5);
  opacity: 50%;
  transform-origin: bottom;
  animation: scatter var( --enterTime) var(--easing);
}

.spotlight div:nth-child(1) {
  background-color: #9b5de5;
  transform: rotate(-30deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(4) {
  background-color: #f15bb5;
  transform: rotate(-15deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(5) {
  background-color: #fee440;
  transform: perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(3) {
  background-color: #00bbf9;
  transform: rotate(15deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(2) {
  background-color: #00f5d4;
  transform: rotate(30deg) perspective(30px) rotateX(-5deg);
}

.spotlight div:nth-child(6) {
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: transparent;
}


@keyframes throw {
  from {
    bottom: 20%;
    left: 50%;
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes squish {
  from {
    transform: scaleY(.7);
  }
}

@keyframes scatter {
  from {
    transform: rotate(0);
    height: 0;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0);
  }
}